.header {
  position: fixed; /* Fix the header at the top */
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start; /* Align items to the left */
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  color: #333;
  z-index: 10; /* Ensure the header is above other elements */

  .logo {
    font-size: 1.5em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 120px; /* Add space between logo and dropdown */
  }

  .dropdown-container {
    display: flex; /* Align items in a row */
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

    .dropdown {
      position: relative; /* Position relative to the container */
      cursor: pointer;
      margin-right: 10px; /* Adjust spacing between dropdown items */
    }

    .separator {
      margin-right: 10px; /* Adjust spacing between '|' and 'Menu' */
    }

    .dropdown-content {
      display: none; /* Hide by default */
      position: absolute;
      left: 0;
      top: 100%; /* Position below the dropdown */
      background-color: #fff;
      color: #333;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      z-index: 1;
      width: 150px;

      .dropdown-item {
        padding: 10px 20px;
        cursor: pointer;
        font-size: small;
        font-weight: lighter;
        font-family: Arial, Helvetica, sans-serif;

        &:hover {
          background-color: #ddd;
        }

        .submenu-content {
          display: none;
          position: absolute;
          left: 100%; /* Position to the right of the item */
          top: 0;
          background-color: #fff;
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
          z-index: 1;
          min-width: 150px;
          box-sizing: border-box;

          .submenu-item {
            padding: 10px 20px;
            cursor: pointer;

            &:hover {
              background-color: #ddd;
            }
          }
        }

        &:hover .submenu-content {
          display: block;
        }
      }
    }

    &:hover .dropdown-content {
      display: block; /* Show on hover */
    }
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;

    .logo {
      margin-bottom: 10px; /* Add space between logo and dropdown */
    }

    .dropdown-container {
      width: 100%;
      flex-direction: column;

      .dropdown {
        width: 100%;

        .dropdown-content {
          left: 0;
          right: 0;
        }
      }
    }
  }
}
